<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Home</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}"/>
</head>

<script src="/js/jQuery-2.1.4.min.js"></script>

<script src="/js/app/login.js"></script>

<body>
	<h2 th:text="#{common.homeWelcome}"></h2>
	
	<p th:text="${serverTime}">시간 표시 </p>
	
	<hr>

	<h3>Login</h3>
	
	<table>
		<tr>
			<td><label for="userId">userId</label></td>
			<td><input type="text" value="" id="userId"></td>
		</tr>
		<tr>
			<td><label for="password">password</label></td>
			<td><input type="password" value="" id="password"></td>
		</tr>
	</table>	
	
	<div>
		<button id="loginBtn">login</button> <button id="myInfoBtn">myInfo</button>
	</div>	
	


</body>
</html>
